<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @upz.name %>
</p>

<p>
  <strong>District area:</strong>
  <%= @upz.district_area %>
</p>

<%= link_to 'Edit', edit_upz_path(@upz) %> |
<%= link_to 'Back', upzs_path %>
